In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
ebola_file = "Resources/ebola_2014_2016_clean.csv"
ebola_df = pd.read_csv(ebola_file)
ebola_df.head()

,Country,Date,No. of suspected cases,No. of probable cases,No. of confirmed cases,"No. of confirmed, probable and suspected cases",No. of suspected deaths,No. of probable deaths,No. of confirmed deaths,"No. of confirmed, probable and suspected deaths",Tpye
0,Guinea,8/29/2014,25.0,141.0,482.0,648.0,2.0,141.0,287.0,430,Ebola
1,Nigeria,8/29/2014,3.0,1.0,15.0,19.0,0.0,1.0,6.0,7,Ebola
2,Sierra Leone,8/29/2014,54.0,37.0,935.0,1026.0,8.0,34.0,380.0,422,Ebola
3,Liberia,8/29/2014,382.0,674.0,322.0,1378.0,168.0,301.0,225.0,694,Ebola
4,Sierra Leone,9/5/2014,78.0,37.0,1146.0,1261.0,11.0,37.0,443.0,491,Ebola

In [3]:
ebola_cols = ["Country","Date","No. of confirmed cases","No. of confirmed deaths","Tpye "]
print(ebola_cols)

['Country', 'Date', 'No. of confirmed cases', 'No. of confirmed deaths', 'Tpye ']

In [4]:
# ebola_df.columns

In [5]:
ebola_transformed= ebola_df[ebola_cols].copy()

print(ebola_transformed)

                       Country       Date  No. of confirmed cases  \
0                       Guinea  8/29/2014                   482.0
1                      Nigeria  8/29/2014                    15.0
2                 Sierra Leone  8/29/2014                   935.0
3                      Liberia  8/29/2014                   322.0
4                 Sierra Leone   9/5/2014                  1146.0
...                        ...        ...                     ...
2480                   Liberia  3/23/2016                  3151.0
2481                     Italy  3/23/2016                     1.0
2482                   Liberia  3/23/2016                     2.0
2483                   Nigeria  3/23/2016                    19.0
2484  United States of America  3/23/2016                     4.0

      No. of confirmed deaths  Tpye
0                       287.0  Ebola
1                         6.0  Ebola
2                       380.0  Ebola
3                       225.0  Ebola
4                       443.0  Ebola
...                       ...    ...
2480                      NaN  Ebola
2481                      NaN  Ebola
2482                      1.0  Ebola
2483                      7.0  Ebola
2484                      1.0  Ebola

[2485 rows x 5 columns]

In [6]:
ebola_transformed = ebola_transformed.rename(columns={"Country":"Country",
                                              "Date":"Date_",
                                              "No. of confirmed cases":"Confirmed_Cases",
                                              "No. of confirmed deaths":"Confirmed_Deaths",
                                              "Tpye":"Type_"
    
})
ebola_transformed.head()

        Country      Date_  Confirmed_Cases  Confirmed_Deaths  Tpye
0        Guinea  8/29/2014            482.0             287.0  Ebola
1       Nigeria  8/29/2014             15.0               6.0  Ebola
2  Sierra Leone  8/29/2014            935.0             380.0  Ebola
3       Liberia  8/29/2014            322.0             225.0  Ebola
4  Sierra Leone   9/5/2014           1146.0             443.0  Ebola

In [7]:
nCoV_file = "Resources/2019_nCoV_data.csv"
nCoV_df = pd.read_csv(nCoV_file)
nCoV_df.head()

,Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered,Type
0,1,1/22/2020 12:00,Anhui,China,1/22/2020 12:00,1,0,0,CoroaVirus
1,2,1/22/2020 12:00,Beijing,China,1/22/2020 12:00,14,0,0,CoroaVirus
2,3,1/22/2020 12:00,Chongqing,China,1/22/2020 12:00,6,0,0,CoroaVirus
3,4,1/22/2020 12:00,Fujian,China,1/22/2020 12:00,1,0,0,CoroaVirus
4,5,1/22/2020 12:00,Gansu,China,1/22/2020 12:00,0,0,0,CoroaVirus

In [8]:
nCoV_cols = ["Country","Date","Confirmed","Deaths","Type"]
print(nCoV_cols)

['Country', 'Date', 'Confirmed', 'Deaths', 'Type']

In [9]:
nCoV_transformed= nCoV_df[nCoV_cols].copy()

print(nCoV_transformed)

     Country             Date  Confirmed  Deaths        Type
0      China  1/22/2020 12:00          1       0  CoroaVirus
1      China  1/22/2020 12:00         14       0  CoroaVirus
2      China  1/22/2020 12:00          6       0  CoroaVirus
3      China  1/22/2020 12:00          1       0  CoroaVirus
4      China  1/22/2020 12:00          0       0  CoroaVirus
...      ...              ...        ...     ...         ...
1714      US  2/17/2020 22:00          1       0  CoroaVirus
1715      US  2/17/2020 22:00          1       0  CoroaVirus
1716      US  2/17/2020 22:00          1       0  CoroaVirus
1717      US  2/17/2020 22:00          1       0  CoroaVirus
1718      US  2/17/2020 22:00          1       0  CoroaVirus

[1719 rows x 5 columns]

In [10]:
nCoV_transformed = nCoV_transformed.rename(columns={"Country":"Country",
                                              "Date":"Date_",
                                              "Confirmed":"Confirmed_Cases",
                                              "Deaths":"Confirmed_Deaths",
                                              "Type":"Type_"
    
})
nCoV_transformed.head()

  Country            Date_  Confirmed_Cases  Confirmed_Deaths       Type_
0   China  1/22/2020 12:00                1                 0  CoroaVirus
1   China  1/22/2020 12:00               14                 0  CoroaVirus
2   China  1/22/2020 12:00                6                 0  CoroaVirus
3   China  1/22/2020 12:00                1                 0  CoroaVirus
4   China  1/22/2020 12:00                0                 0  CoroaVirus

In [11]:
sars_file = "Resources/sars_2003_complete_dataset_clean.csv"
sars_df = pd.read_csv(sars_file)
sars_df.head()

,Date,Country,Cumulative number of case(s),Number of deaths,Number recovered,type
0,3/17/2003,Germany,1,0,0,sars
1,3/17/2003,Canada,8,2,0,sars
2,3/17/2003,Singapore,20,0,0,sars
3,3/17/2003,"Hong Kong SAR, China",95,1,0,sars
4,3/17/2003,Switzerland,2,0,0,sars

In [12]:
sars_cols = ["Date", "Country", "Cumulative number of case(s)", "Number of deaths", "type"]

sars_transformed= sars_df[sars_cols].copy()

print(sars_transformed)

           Date               Country  Cumulative number of case(s)  \
0     3/17/2003               Germany                             1
1     3/17/2003                Canada                             8
2     3/17/2003             Singapore                            20
3     3/17/2003  Hong Kong SAR, China                            95
4     3/17/2003           Switzerland                             2
...         ...                   ...                           ...
2533  7/11/2003           Switzerland                             1
2534  7/11/2003              Thailand                             9
2535  7/11/2003        United Kingdom                             4
2536  7/11/2003         United States                            75
2537  7/11/2003              Viet Nam                            63

      Number of deaths  type
0                    0  sars
1                    2  sars
2                    0  sars
3                    1  sars
4                    0  sars
...                ...   ...
2533                 0  sars
2534                 2  sars
2535                 0  sars
2536                 0  sars
2537                 5  sars

[2538 rows x 5 columns]

In [13]:
sars_df.columns

Index(['Date', 'Country', 'Cumulative number of case(s)', 'Number of deaths',
       'Number recovered', 'type'],
      dtype='object')

In [14]:
sars_transformed = sars_transformed.rename(columns={"Country":"Country",
                                              "Date":"Date_",
                                              "Cumulative number of case(s)":"Confirmed_Cases",
                                              "Number of deaths":"Confirmed_Deaths",
                                              "Type":"Type_"
    
})

sars_transformed.head()

       Date_               Country  Confirmed_Cases  Confirmed_Deaths  type
0  3/17/2003               Germany                1                 0  sars
1  3/17/2003                Canada                8                 2  sars
2  3/17/2003             Singapore               20                 0  sars
3  3/17/2003  Hong Kong SAR, China               95                 1  sars
4  3/17/2003           Switzerland                2                 0  sars

In [15]:
sars_transformed["Country"].replace({"Hong Kong SAR, China": "China"}).head()

0        Germany
1         Canada
2      Singapore
3          China
4    Switzerland
Name: Country, dtype: object

In [16]:
connection_string = "etl:etl@localhost:5432/ETL_db"
engine = create_engine(f'postgresql://{connection_string}')

In [17]:
engine.table_names()

['ebola', 'ncov', 'sars']

In [21]:
ebola_transformed.to_sql(name='ebola', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "index" of relation "ebola" does not exist
LINE 1: INSERT INTO ebola (index, "Country", "Date_", "Confirmed_Cas...
                           ^

[SQL: INSERT INTO ebola (index, "Country", "Date_", "Confirmed_Cases", "Confirmed_Deaths", "Tpye ") VALUES (%(index)s, %(Country)s, %(Date_)s, %(Confirmed_Cases)s, %(Confirmed_Deaths)s, %(Tpye )s)]
[parameters: ({'index': 0, 'Country': 'Guinea', 'Date_': '8/29/2014', 'Confirmed_Cases': 482.0, 'Confirmed_Deaths': 287.0, 'Tpye ': 'Ebola'}, {'index': 1, 'Country': 'Nigeria', 'Date_': '8/29/2014', 'Confirmed_Cases': 15.0, 'Confirmed_Deaths': 6.0, 'Tpye ': 'Ebola'}, {'index': 2, 'Country': 'Sierra Leone', 'Date_': '8/29/2014', 'Confirmed_Cases': 935.0, 'Confirmed_Deaths': 380.0, 'Tpye ': 'Ebola'}, {'index': 3, 'Country': 'Liberia', 'Date_': '8/29/2014', 'Confirmed_Cases': 322.0, 'Confirmed_Deaths': 225.0, 'Tpye ': 'Ebola'}, {'index': 4, 'Country': 'Sierra Leone', 'Date_': '9/5/2014', 'Confirmed_Cases': 1146.0, 'Confirmed_Deaths': 443.0, 'Tpye ': 'Ebola'}, {'index': 5, 'Country': 'Nigeria', 'Date_': '9/5/2014', 'Confirmed_Cases': 18.0, 'Confirmed_Deaths': 7.0, 'Tpye ': 'Ebola'}, {'index': 6, 'Country': 'Liberia', 'Date_': '9/5/2014', 'Confirmed_Cases': 614.0, 'Confirmed_Deaths': 431.0, 'Tpye ': 'Ebola'}, {'index': 7, 'Country': 'Guinea', 'Date_': '9/5/2014', 'Confirmed_Cases': 604.0, 'Confirmed_Deaths': 362.0, 'Tpye ': 'Ebola'}  ... displaying 10 of 2485 total bound parameter sets ...  {'index': 2483, 'Country': 'Nigeria', 'Date_': '3/23/2016', 'Confirmed_Cases': 19.0, 'Confirmed_Deaths': 7.0, 'Tpye ': 'Ebola'}, {'index': 2484, 'Country': 'United States of America', 'Date_': '3/23/2016', 'Confirmed_Cases': 4.0, 'Confirmed_Deaths': 1.0, 'Tpye ': 'Ebola'})]
(Background on this error at: http://sqlalche.me/e/f405)

In [19]:
nCoV_transformed.to_sql(name='nCoV',con=engine, if_exists='append', index=True)

In [20]:
sars_transformed.to_sql(name='sar', con=engine, if_exists='append', index=True)